[include]
    path = ~/.gitconfig.local
[core]
    editor          = code --wait # use Visual Studio Code
    pager           = less
    whitespace      = fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab
    excludesfile    = ~/.gitignore
[color]
    ui          = always
    branch      = auto
    diff        = auto
    status      = auto
    interactive = auto
    grep        = auto
[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green
[color "diff"]
    meta    = yellow bold
    frag    = magenta bold
    old     = red bold
    new     = green bold
[branch]
    autosetupmerge  = false
    autosetuprebase = always
[rebase]
    stat = true
[merge]
    stat = true
    ff   = false # always create merge commit, even if merge can be resolved as fast-forward.
[alias]
    st          = status
    cm          = commit
    co          = checkout
    push--f     = push --force-with-lease
    tree        = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    wt          = whatchanged --stat
    branch-name = symbolic-ref --short HEAD
    delete-local-branches-merged-to = "!f () { git switch $1; git branch --merged | egrep -v '\\*|main|master' | xargs git branch -d; };f"
[push]
    # default = current # I want to avoid unintended push.
[pull]
    rebase = true
[rerere]
    enabled = true
[grep]
    lineNumber = true
[help]
    autocorrect = 0 # I don't need this personally.

[filter "lfs"]
    process     = git-lfs filter-process
    required    = true
    clean       = git-lfs clean -- %f
    smudge      = git-lfs smudge -- %f
[init]
    defaultBranch = main
[diff "sopsdiffer"]
    textconv = sops -d

# delta configs
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = side-by-side unobtrusive-line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    whitespace-error-style = 22 reverse

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue